@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Figtree:wght@300;400;500;600;700&display=swap');
:root {
    --black: #3e3e3e;
    --light-blue: #6D98BA;
    --copper: #C17767;
    --dark-brown: #2102038d;
    --grey: #9AADBF;
    --bg-color: #FDFEF7;
 
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color); 
  }

/* Title Header */
  .title {
    font-family: 'bowlby one sc';
    color: var(--black);
  }

  h1 {
    margin: 2rem;
    padding: 0;
    font-size: 3rem;
  }

  .red {
    color: var(--copper);
  }

  .blue {
    color: var(--light-blue);
  }

  .board {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }

  .board.x .cell:not(.x):not(.o):hover {
    background: #c1786775;
  }

  .cell {
    width: 8rem;
    height: 8rem;
    border: 1px solid var(--dark-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .cell.x {
    background: url('/img/x.png') no-repeat center / cover;
    background-size: 80%;
  }

  .cell.o {
    background: url('/img/o.png') no-repeat center / cover;
    background-size: 80%;
  }

  .cell.x, 
  .cell.o {
    cursor: not-allowed;
  }

  #restart button {
    margin: 2rem;
    background: #3e3e3e;
    padding: 1rem 1.5rem;
    color: white;
    font-weight: 600;
    font: 'Figtree', sans-serif; 
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  #restart button:hover {
    background: var(--grey)
  }

  .game-over {
    cursor: no-drop;
  }